Flask>=2.3
flask-cors
flask-limiter
flask-pydantic
flask[async]
pydantic
PyJWT
python-dotenv
psycopg[binary]
structlog
pydantic-settings
passlib[bcrypt]
bcrypt==4.0.1
prisma
pandas  
numpy
joblib
scikit-learn
gunicorn
